.about-wrapper {
  background: rgba(16, 143, 191);
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  .about-container {
    margin-top: 0;
    .header-text {
      padding-top: 40px;
      h1 {
        font-size: 48px;
        font-weight: 700;
      }
    }

    .who {
      width: 70%;
      p {
        font-size: 22px;
        font-weight: 500;
        line-height: 38px;
      }
    }

    .row {
      margin: 50px 0;

      .col-md-6 {
        .what,
        .how {
          border-radius: 10px;
          padding: 10px;
          margin: 20px 0;
          background: #ffffff;
          color: #1e1e1e;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

          .title-text {
            text-align: center;
          }
          div {
            padding: 0 20px;
            h3 {
              font-weight: 600;
              margin-top: 30px;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .about-wrapper {
    .about-container {
      .header-text {
        
        text-align: center;
        
        h1 {
          font-size: 28px;
          font-weight: 700;
        }
        
      }
      .who {
        width: 100%;
        text-align: center;
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }
      }
      .row {
        .col-md-6 {
          .what,
          .how {
            height: auto;
            text-align: center;
          }
        }
      }
    }
  }
}

