.contact-wrapper {
  background: rgba(16, 143, 191);
  padding: 20px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #f1f1f1;

  .contact {
    .header-text {
      width: 70%;
      margin: 20px auto;
      text-align: center;
      padding-bottom: 40px;
      h1 {
        font-weight: 700;
      }
      span {
        font-size: 22px;
      }
    }

    .row {
      .col-md-5 {
        .address {
          text-align: center;
          p {
            line-height: 50%;
          }
        }
      }

      .col-md-4 {
        .email {
          .contact-form {
            .button-section {
              display: flex;
              justify-content: flex-end;

              button {
                width: 40%;
                background: #f1f1f1;
                border-radius: 10px;
                border-color: #f1f1f1;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-wrapper {
    background: rgba(16, 143, 191);
    padding: 20px 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #f1f1f1;

    .contact {
      .header-text {
        width: 100%;

        span {
          font-size: 18px;
        }
      }

      .row {
        .col-md-5 {
          .address {
            text-align: left;

            p {
              line-height: 100%;
            }
          }
        }

        .col-md-4 {
          .email {
            margin-bottom: 30px;
            p {
              margin-bottom: 30px;
            }
            .contact-form {
              .button-section {
                button {
                  width: 100%;
                  background: #f1f1f1;
                  border-radius: 10px;
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
