.courses-wrapper {
    background: #f1f1f1;
  padding: 20px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  .courses-container {
    .header-text {
      text-align: center;
      margin: 10px 0;

      h1 {
        font-weight: 700;
        margin-bottom: 20px;
      }
    }

    .course-body {
      padding: 10px;

      .row {
        .col-md-4 {
          .shedules {
            padding: 15px;
            background: #ffffff;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

            span {
              font-size: 17px;
            }
          }

          .courses {
            background: #ffffff;
            padding: 15px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            span {
              font-size: 17px;
              font-weight: 600;
            }
            ul {
              li {
                font-size: 17px;
                list-style: none;
                line-height: 40px;
              }
            }
          }
        }

        .col-md-8 {
          .modules {
            background: #ffffff;
            padding: 15px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

            .course-overview{
                p{
                    font-size: 20px;
                }

                .btn-collapse{
                    border: 1px solid #f2f2f2;
                    background: #f2f2f2;
                    width: 100%;
                    text-align: left;
                    padding: 8px 4px;
                    font-size: 22px;
                }

                .collapse{
                    .pp{
                        font-size: 18px;
                    }
                }
            }
          }
        }
      }
    }
  }
}
