.nav-wrapper {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  .navbar-wrapper {
    background: #f8f7f7;
    position: fixed;
    top: 0;
    z-index: 3;

    .navbar-body {
      .container-fluid {
        .navbar-brand {
          img {
            width: 250px;
          }
        }
        .navbar-collapse {
          ul {
        
            li {
              display: flex;
              justify-content: space-between;
              text-align: center;
              padding: 0 8px;
              font-size: 18px;
            }

            a {
              color: #1e1e1e;
              
            }

            :hover {
              color: rgb(197, 197, 212);
              cursor: pointer;
            }
          }
          
          .button-section{
       
            margin-left: 100px;
            button{
              font-size: 18px;
              color: rgb(192, 7, 84);
              padding: 10px;
              font-weight: 600;
              border-radius: 8px;
              background: #f8f7f7;
              // border: 1px solid #f8f7f7;
            }
          }
          
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .nav-wrapper {
    .top-nav-links {
      display: none;
    }

    .navbar-wrapper {
      background: #ffffff;

      a {
        color: #000000;
      }
      .navbar-body {
        .nav-collapse {
          .navbar-nav {
            .nav-item {
              display: block;
              text-align: left;
              border-right: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .navbar-wrapper {
    background: #ffffff;
    .navbar-body {
      a {
        color: #ffffff;
        img {
          display: none;
        }
      }
    }
  }
}
