#regModal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        background: rgba(16, 143, 191);
        color: #ffffff;
      }

      .modal-body {
        .form-control,
        .form-select {
          border-radius: 0;
        }

        .btn-submit {
          display: flex;
          justify-content: flex-end;

          button{
            background: rgba(16, 143, 191);
            color: #ffffff;
            width: 30%;
          }
        }
      }
    }
  }
}
