.services-wrapper {
  padding: 20px 0;
  .services-container {
    .header-text {
      text-align: center;
      margin: 20px 0;

      h1 {
        font-weight: 500;
        margin-bottom: 20px;
      }

      span {
        font-size: 20px;
        opacity: 0.9;
      }
    }

    .row {
      margin: 40px 0;

      .col-md-6 {
        margin: 10px 0;
        .data-analytic,
        .research-section,
        .software_dev-section,
        .training-section {
          margin: 10px;
          padding: 15px;
          width: 100%;
          height: auto;
          font-size: 18px;
          text-align: justify;
          // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

          a {
            text-decoration: none;
            color: #010101;
            font-style: italic;

            :hover {
              color: blue;
            }
          }

          .caption {
            text-align: center;
            div {
              display: flex;
              justify-content: center;
              .img-container {
                text-align: center;
                background: rgba(16, 143, 191);
                color: #ffffff;
                border-radius: 50%;
                height: 70px;
                width: 70px;
                font-size: 55px;
                padding-top: 5px;
              }
            }
            h4{
              margin: 10px 0;
              font-weight: 500;
            }
          }
        }
      }
      animation-name: bounce;
      animation-duration: 10s;
      animation-iteration-count: 1;
      animation-direction: alternate;
    }
    .apply-button {
      display: flex;
      justify-content: center;

      button {
        width: 50%;
        font-size: 22px;
        background: rgba(16, 143, 191);
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .services-wrapper {
    .services-container {
      .header-text{
        text-align: justify;
      }
      .row {
        margin: 40px 0;
        .col-md-6 {
          margin: 10px 0;
          .data-analytic,
          .research-section,
          .software_dev-section,
          .training-section {
            height: 350px;
            text-align: justify;
            font-size: 18px;
            h3 {
              text-align: center;
            }
          }
        }
        animation-name:none;
        animation-duration: 0s;
        animation-iteration-count: 0;
        animation-direction:normal
      }

      .apply-button {
        display: flex;
        justify-content: center;

        button {
          width: 50%;
          font-size: 18px;
          background: rgba(16, 143, 191);
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services-wrapper {
    .services-container {
      .row {
        margin: 40px 0;
        .col-md-6 {
          margin: 10px 0;
          .data-analytic,
          .research-section,
          .software_dev-section,
          .training-section {
            height: auto;
            text-align: justify;
            font-size: 18px;
            h3 {
              text-align: center;
            }
          }
        }
        animation-name: none;
        animation-duration: 0s;
        animation-iteration-count: 0;
        animation-direction: normal;
      }

      .apply-button {
        display: flex;
        justify-content: center;

        button {
          width: 50%;
          font-size: 18px;
          background: rgba(16, 143, 191);
          color: #ffffff;
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: rotateX(-20deg) translateZ(20px);
    // transform: rotateY(90deg) translateZ(50px);
    // transform: rotateX(90deg) translateZ(50px);
  }

  100% {
    transform: rotateY(20deg) translateZ(20px);
    // transform: rotateY(-90deg) translateZ(50px);
    // transform: rotateX(-90deg) translateZ(50px);
  }
}
