.services-wrapper {
  
  padding: 20px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  .services-container {
    .header-text {
      text-align: center;
      margin: 20px 0;

      h1 {
        font-weight: 700;
        margin-bottom: 20px;
      }

      span {
        font-size: 20px;
        opacity: 0.5;
      }
    }

    .row {
      margin: 40px 0;
      .col-md-6 {
        margin: 10px 0;
        .data-analytic,
        .research-section,
        .software_dev-section,
        .training-section {
          margin: 10px;
          padding: 15px;
          height: 250px;
          font-size: 18px;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

          
          // animation-duration: 3s;
          // animation-name: slidein;
        }
      }
      animation-name: bounce;
          animation-duration: 10s;
          animation-iteration-count: 1;
          animation-direction: alternate;
    }
    .apply-button{
      display: flex;
      justify-content: center;

      button{
        width: 50%;
        font-size: 22px;
        background: rgba(16, 143, 191);
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services-wrapper{
    .services-container {
      .row {
        margin: 40px 0;
        .col-md-6 {
          margin: 10px 0;
          .data-analytic,
          .research-section,
          .software_dev-section,
          .training-section {
           h3{
            text-align: center;
           }
  
            
            // animation-duration: 3s;
            // animation-name: slidein;
          }

         
        }
        animation-name: bounce;
            animation-duration: 10s;
            animation-iteration-count: 1;
            animation-direction: alternate;
      }

      .apply-button{
        display: flex;
        justify-content: center;

        button{
          width: 50%;
          font-size: 22px;
          background: rgba(16, 143, 191);
          color: #ffffff;
        }
      }
    }

  }
}

@keyframes bounce {
  0% {
    transform: rotateX(-20deg) translateZ(20px);
    // transform: rotateY(90deg) translateZ(50px);
    // transform: rotateX(90deg) translateZ(50px);
  }

  100% {
    transform: rotateY(20deg) translateZ(20px);
    // transform: rotateY(-90deg) translateZ(50px);
    // transform: rotateX(-90deg) translateZ(50px);
  }
}
