
.team-wrapper{
    padding: 20px 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: #f1f1f1;
    .team-container{
        .header-text {
            text-align: center;
            margin: 20px 0;
      
            h1 {
              font-weight: 700;
              margin-bottom: 20px;
            }
          }

          .team-section{
            .row{
                .col-md-4{
                    img{
                        width: 250px;
                        height: 300px;
                    }
                }
            }
          }
    }
}