
.team-wrapper{
    padding: 20px 0;
    background: #f1f1f1;
    .team-container{
        .header-text {
            text-align: center;
            margin: 20px 0;
      
            h1 {
              font-weight: 700;
              margin-bottom: 20px;
            }
          }

          .team-section{

            .row{
                .col-md-4{
                  text-align: center;
                    img{
                        width: 250px;
                        height: 250px;
                        margin-bottom: 15px ;
                    }
                    p{
                      font-size: 20px;
                      line-height: 10px;
                    }
                }
            }
          }
    }
}