.container{
    .header-section{
        // border: 1px solid black;
        text-align: center;
        margin: 20px 0;
    }
    .content-section{
        margin-bottom: 20px;
        padding: 8px;
        p{
            font-size: 18px;
        }
    }
}